.achievement__number {
  font-weight: 500;
  font-size: 128px;
  line-height: 1.21;
  color: var(--number-text-color);
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 1080px) {
  .achievement__number {
    font-size: 80px;
  }
}

@media screen and (max-width: 640px) {
  .achievement__number {
    font-size: 36px;
  }
}

