.header__logo {
  width: 68px;
  height: 48px;
  background-image: url(../../../images/logo-podpotolcom.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  transition: all var(--time-transition);
}

.header__logo:hover {
  background-image: url(../../../images/logo-podpotolcom-hover.svg);
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 53px;
    height: 37px;
  }
}

@media screen and (max-width: 450px) {
  .header__logo {
    width: 26px;
    height: 19px;
  }
}
