.request__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .request__description {
    font-size: 2.11vw;
    line-height: 1.5;
  }
}

@media screen and (max-width: 450px) {
  .request__description {
    font-size: 12px;
    line-height: 1.4;
  }
}
