.card__description {
  max-width: 90%;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

/* * {
  outline: 2px solid red;
} */
