.popup__close-button {
  width: 20.33px;
  height: 18.76px;
  background-color: var(--root-background-color);
  background-image: url(../../../images/close-icon.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  transition: background-image var(--transition-time);
}

.popup__close-button:hover {
  background-image: url(../../../images/close-icon-hover.svg);
}

.popup__close-button:active {
  background-image: url(../../../images/close-icon-active.svg);
}
