.popup__close-button {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close-icon.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity var(--time-transition);
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 540px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
