.button-contact {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  align-self: start;
  border: none;
  padding: 19px 0;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  cursor: pointer;
  padding: 19px 130px;

  grid-column: 2;
}
