.contact__photo {
  display: block;
  width: 640px;
  height: 592px;
  object-fit: cover;
  object-position: 0px -110px;
}

@media screen and (max-width: 768px) {
  .contact__photo {
    width: 344px;
    height: 414px;
    object-position: 0px -110px;
  }
}

@media screen and (max-width: 450px) {
  .contact__photo {
    width: 100%;
    height: 230px;
  }
}
