@keyframes show {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.header__navigation_active {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--root-background-color);
  z-index: 1;
  opacity: 1;
  animation: show .25s linear;
}
