.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 450px) {
  .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
