.achievement__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 44px 0;
}

@media screen and (max-width: 640px) {
  .achievement__list {
    flex-direction: column;
    align-items: center;
  }
}
