.footer__logo-moscow {
  width: 97px;
  height: 114px;
  background-image: url(../../../images/made-in-moscow-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: background-image var(--time-transition);
}

.footer__logo-moscow:hover {
  background-image: url(../../../images/made-in-moscow-logo-hover.svg);
}

.footer__logo-moscow:focus {
  background-image: url(../../../images/made-in-moscow-logo-hover.svg);
}

@media screen and (max-width: 768px) {
  .footer__logo-moscow {
    width: 88px;
    height: 103.44px;
  }
}

@media screen and (max-width: 320px) {
  .footer__logo-moscow {
    width: 60.43px;
    height: 71.04px;
  }
}
