.card {
  width: 100%;
  transition: all var(--time-transition);
  cursor: pointer;
}

.card:hover {
  box-shadow: var(--card-box-shadow-hover);
  border-color: var(--link-color-hover);
  color: var(--link-color-hover);
}
