.link {
  text-decoration: none;
  color: var(--text-color);
  transition: color var(--time-transition);
}

.link:hover {
  color: var(--link-color-hover);
}

.link:focus {
  color: var(--link-color-hover);
}
