.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0 68px;
  margin: 0;
}

@media screen and (max-width: 1058px) {
  .social-links {
    width: 100%;
    gap: 0;
  }
}

@media screen and (max-width: 1058px) {
  .social-links {
    width: 80%;
  }
}
