.presentation__image {
  display: block;
  width: 100%;
  max-height: 531px;
  object-fit: cover;
}

.presentation__image:nth-of-type(1) {
  max-height: 531px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: -1;
}

.presentation__image:nth-of-type(2) {
  max-height: 433px;
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: -1;
}
