.title-block__description {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

@media screen and (max-width: 450px) {
  .title-block__description {
    font-size: 12px;
    line-height: 1.4;
  }
}
