.assortment__container {
  display: grid;
  grid-template-columns: 40% 1fr 40%;
  grid-template-rows: auto 1fr 1fr;
  align-items: start;
  gap: 26px 35px;
}

@media screen and (max-width: 1100px) {
  .assortment__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px 0;
  }
}

@media screen and (max-width: 450px) {
  .assortment__container {
    gap: 12px 0;
  }
}
