.price__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: 1150px) {
  .price__title {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 450px) {
  .price__title {
    font-size: 20px;
    line-height: 24px;
  }
}
