.popup__container {
  width: 75%;
  max-width: 1088px;
  background-color: var(--root-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 30px;
  cursor: default;
  position: relative;
}
