.request__label {
  width: 360px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 855px) {
  .request__label {
    width: 344px;
  }
}

@media screen and (max-width: 400px) {
  .request__label {
    width: 100%;
  }
}
