.contact__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media screen and (max-width: 768px) {
  .contact__list {
    gap: 20px;
  }
}

@media screen and (max-width: 450px) {
  .contact__list {
    gap: 16px;
  }
}
