.team__card {
  width: 32%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .team__card {
    width: 47%;
  }
}

@media screen and (max-width: 450px) {
  .team__card {
    width: 48%;
  }
}

