.request__button-submit {
  width: 360px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  border: none;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  cursor: pointer;
  padding: 19px;
  transition: background-color var(--time-transition);
}

.request__button-submit:hover {
  background-color: var(--button-background-color-hover);
}

.request__button-submit:focus {
  background-color: var(--button-background-color-hover);
}

.request__button-submit:active {
  background-color: var(--button-background-color-active);
}

@media screen and (max-width: 855px) {
  .request__button-submit {
    width: 344px;
    font-size: 20px;
    padding: 16px;
  }
}

@media screen and (max-width: 400px) {
  .request__button-submit {
    width: 100%;
  }
}
