.popup {
  width: 100vw;
  height: 100vh;
  background-color: var(--root-background-color);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .20s linear;
  cursor: pointer;
  z-index: 2;
}
