.assortment__container_display_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

@media screen and (max-width: 450px) {
  .assortment__container_display_flex {
    gap: 12px;
  }
}
